.popup {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup__container {
  position: fixed;
  left: 425px;
  top: 210px;
  width: 367px;
  height: 323px;
  border-radius: 10px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 1;
  padding: 0;

}

.popup-opened {
  display: block;
  visibility: visible;
  opacity: 1;

}



.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-top: 48px;
}

.popup__icon:hover {
  opacity: 50%;
}

.popup__icon {
  position: absolute;
  left: 365px;
  bottom: 320px;
  max-width: 40px;
  max-height: 40px;
  transition: opacity 200ms ease-in-out;
}


.popup__title {
  width: 330px;
  height: 20px;
  font-family: "inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 40px 33px;
}

.popup__description-name {
  width: 74%;
  height: 27px;
  border: none;
  border-bottom: 1px solid darkgray;
}

.popup__description-job {
  width: 74%;
  height: 27px;
  border: none;
  border-bottom: 1px solid darkgray;
}

.popup__button:hover {
  opacity: 50%;
}

.popup__button {
  width: 358px;
  height: 50px;
  margin-bottom: 36px;
  background-color: #000;
  border-radius: 2px;
  border: none;
  transition: opacity 200ms ease-in-out;
}

.popup__button_text {
  max-width: 90%;
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.36rem;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

@media screen and (max-width:768px) {
  .popup {
    width: 100%;
    height: 930px;
    top: 170px;
  }

  .popup__container {
    left: 160px;
  }
}

@media screen and (max-width:320px) {
  .popup {
    width: 100%;
    height: 1070px;
    top: 10px;
    left: 0;
  }

  .popup__icon {
    left: 247px;
    bottom: 335px;
  }

  .popup__container {
    left: 9px;
    top: 100px;
    width: 300px;

  }
}